<div class="container-country">
    <ul class="list-country">
        {{#each this}}
        <li class="item-country">
            <a href="#" class="link-country">
                <h2 class="title-country">{{name}}</h2>
            </a>
        </li>
        {{/each}}
</ul>
</div>